/*insert variable in css*/
:root { /*to declare a variable, it's practical 
    when changing certain styles on the website
    below are the most common*/
    /*PALETTE*/
    --color-title: rgb(171, 127, 197); /* hue, saturation, light :it's useful when using a highlight by changing the luminosity*/  
    --color-hover: hsl(171, 127, 197); /* teinte, saturation and luminosité*/
    --color-transparence: rgba(05, 05, 05, 50%); /* the last value determines the transparency */
    --color-paragraph: rgb(00,00,00); 
    /*Font style*/ 
    --font-titles: 'Arial'; 
    --font-paragraph: 'Helvetica'; 
}
h1, h2 {
color: var(--color-title); 
}

a:hover {
    color: var(--color-hover); 
}

a {
  color: var(--color-title); 
  text-decoration: none;  
}  

img {
    width: 50%;
    padding: 1rem; 
}

.date {
    text-align: right;
}