/*insert variable in css*/
:root { /*to declare a variable, it's practical 
    when changing certain styles on the website
    below are the most common*/
    /*PALETTE*/
    --color-title: hsl(352.74deg,95%,45.69%); /* hue, saturation, light :it's useful when using a highlight by changing the luminosity*/  
    --color-hover: hsl(352.74deg,95%,65.69%); /* teinte, saturation and luminosité*/
    --color-transparence: rgba(05, 05, 05, 50%); /* the last value determines the transparency */
    --color-paragraph: rgb(00,00,00); 
    /*Font style*/ 
    --font-titles: 'Arial'; 
    --font-paragraph: 'Helvetica'; 
}

body {
    font-style: var(--font-paragraph); 
    color: var(--color-paragraph); 
}
h1, h2 {
    font-style: var(--font-titles);
    color: var(--color-title); 
}

li  {
    font-weight: bold;
} 

p.attention::before {
    content: "⚠ Attention❗";
    font-size: 1.2em;
    color: var(--color-red); /*application of the variable here*/ 

}
/* how the remove the ordered style via css*/ 
ol {
    counter-reset: moncompteur; /*we gave the counter name "moncompteur", it starts with 1*/ 
    list-style-type: none;
}
ol li::before {
    content: "Step " counter(moncompteur) " : "; /* */ 
    counter-increment: moncompteur; 
}

